.main-nav {
	background-color: $yellow;
}

.main-nav__list {
	@include margin0-padding0;

	display: flex;
	flex-direction: column;
	
	list-style: none;	
}

.main-nav__item {
	@include margin0-padding0;
	
	padding: 10px 15px;

	border-top: 1px solid rgba(255, 255, 255, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);

	cursor: pointer;

	&:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
}

.main-nav__item > a {
	font-size: 18px;
	font-weight: 700;
	color: $text-color;
	text-decoration: none;
	line-break: auto;
}

@media (min-width: $tablet-width) {
	.main-nav {		
		border-radius: 10px;
	}

	.main-nav__list {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-nav__item {
		position: relative;
		padding: 13px 30px;

		border: none;
		border-radius: 10px;

		&:hover {
			background-color: $yellow-dark;
		}

		&:hover .main-nav__sub-menu {
			display: block;
		}
	}

	.main-nav__item-icon {
		position: relative;
		

		width: 15px;
		height: 15px;

		&:after {
			position: absolute;
			content: "";
			
			top: 2px;
			right: -19px;

			width: 10px;
			height: 10px;

			border-right: 1px solid $grey-arrow;
    	border-bottom: 1px solid $grey-arrow;
    	transform: rotate(45deg);
		}
	}

	.main-nav__sub-menu {
		display: none;		
		position: absolute;

		top: 0;
    left: 0;    
		z-index: 2;
	}
	
}
