.slick-prev:before
{ 
  position: absolute;  
  content: "";
  
  opacity: 1;    

  top: 2px;
  right: -7px;

  width: 16px;
  height: 16px;

  border-right: 1px solid $grey-arrow;
  border-top: 1px solid $grey-arrow;
  transform: rotate(-135deg);
}

.slick-next:before
{ 
  position: absolute;  
  content: "";
  
  opacity: 1;    

  top: 2px;
  left: -7px;

  width: 16px;
  height: 16px;

  border-right: 1px solid $grey-arrow;
  border-top: 1px solid $grey-arrow;
  transform: rotate(45deg);
}

@media (min-width: $pre-tablet-width) {
  .slick-prev {
    left: -40px;
  }

  [dir='rtl'] .slick-prev {
      right: -40px;
      left: auto;
  }

  .slick-next {
      right: -40px;
  }

  [dir='rtl'] .slick-next {
      right: auto;
      left: -40px;
  }
  
  .offers .slick-slide {
    margin: 0px 20px;
  }
}

