.slick-prev:before
{ 
  position: absolute;  
  content: "";
  
  opacity: 1;    

  top: 2px;
  right: -7px;

  width: 16px;
  height: 16px;

  border-right: 1px solid $grey-arrow;
  border-top: 1px solid $grey-arrow;
  transform: rotate(-135deg);
}

.slick-next:before
{ 
  position: absolute;  
  content: "";
  
  opacity: 1;    

  top: 2px;
  left: -7px;

  width: 16px;
  height: 16px;

  border-right: 1px solid $grey-arrow;
  border-top: 1px solid $grey-arrow;
  transform: rotate(45deg);
}

.slick-dots {
  position: absolute;
  bottom: 5px;
  
  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
} 

  .slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .6;
  color: $white-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .slick-dots li.slick-active button:before {
      opacity: 1;
      color: $yellow;
  }

@media (min-width: $pre-tablet-width) {
  .slick-prev {
    left: -40px;
  }

  [dir='rtl'] .slick-prev {
      right: -40px;
      left: auto;
  }

  .slick-next {
      right: -40px;
  }

  [dir='rtl'] .slick-next {
      right: auto;
      left: -40px;
  }
  
  .offers .slick-slide {
    margin: 0px 20px;
  }

}

@media (min-width: $tablet-width) {  
  .slick-dots {    
    bottom: 15px;
    left: -250px;   
  }

  .slick-dots li button:before {    
    font-size: 12px;
  }
}


@media (min-width: $desktop-width) {
  .slick-dots {    
    bottom: 15px;
    left: -300px;   
  }

  .slick-dots li button:before {    
    font-size: 15px;
  }
}

@media (min-width: $breakpoint-slick) {
  .slick-dots {    
    bottom: 15px;
    left: -500px;   
  }

  .slick-dots li button:before {    
    font-size: 15px;
  }
}
