.sub-menu__list {
	@include margin0-padding0;	

	list-style: none;
	white-space: nowrap;
}

.sub-menu__item {
	padding: 5px 0 5px 10px;
	list-style: none !important;
	white-space: normal;
}

.sub-menu__item > a {	
	font-size: 14px;
	color: $text-color;
	text-decoration: none;
}

@media (min-width: $tablet-width) {
	.sub-menu__list {
		margin-top: 46px;
		padding-top: 13px;
		padding-bottom: 13px;
		background-color: $blue-bg-80;
	}

	.sub-menu__item {
		padding: 7px 30px 8px 30px;		
	}

	.sub-menu__item:hover {		
		background-color: $blue-bg-darker;		
	}

	.sub-menu__item > a {	
		font-size: 14px;
		color: $white-color;
		white-space: nowrap;
		text-decoration: none;
	}	
}