.sub-menu__list {
	@include margin0-padding0;
	

	list-style: none;
}

.sub-menu__item {
	padding: 5px 0 5px 10px;
}

.sub-menu__item > a {	
	font-size: 14px;
	color: $text-color;
	text-decoration: none;
}
