@import "./normalize.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./container.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social-list.scss";
@import "./blocks/sub-menu.scss";
@import "./blocks/advantages.scss";

@import "./blocks/page-footer.scss";

body {
	@include margin0-padding0;
  min-width: 320px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: $text-color;
  background-color: $white-color;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

p, ul {
	@include margin0-padding0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
