$pre-tablet-width: 660px;
$tablet-width: 992px;
$desktop-width: 1400px;

$text-color: #000000;

$white-color: rgb(255, 255, 255);

$light-grey: #f8f7f7;

$blue-bg: #3689c3;
$blue-bg-80: rgba(54, 137, 195, 0.8);

$dark-blue-bg: rgba(0, 76, 132, 0.5);

$yellow: #fbd341;
$yellow-dark: #eec83f;
$dark-blue-bg: #22334d;