$pre-tablet-width: 660px;
$tablet-width: 992px;
$desktop-width: 1400px;

$text-color: #000000;

$white-color: rgb(255, 255, 255);

$light-grey: #f8f7f7;
$blue-bg: #049acf;
$yellow: #fbd341;
$dark-blue-bg: #22334d;